*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

            /* Parte Superior completa  */
.header{
    width:100%;
    margin: 0 auto;
    background:#fff;
    border-bottom:1px solid #adadad;
}

            /* Parte superior */
.top-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:12px 40px;
    gap: 2rem;
}

.logo img{
    width:200px;
}

            /* Pesquisa */
.Pesquisa{
    width: 600px;
    max-width:700px;
    height:52px;
    border:1px solid #ddd;
    border-radius:18px;
    display:flex;
    align-items:center;
    padding:0 20px;
    background:#fff;
    gap: 4rem;
}

.Pesquisa{
    color:#8c8c8c;
    margin-right:10px;
}

.Pesquisa input{
    width:100%;
    border:none;
    outline:none;
    font-size:16px;
}

            /* Ícones */
.icons{
    display:flex;
    align-items:center;
    gap:22px;
    color:#2d5daa;
}

.icons i,
.icons svg{
    cursor:pointer;
}

            /* Menu */
.menu-nav{
    padding:14px 0;
}

.menu-nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:4rem;
}

.menu-nav li{
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.2s;
}

.menu-nav li:hover{
    color:#2d5daa;
}


.telefone{
    width: 16px;
}

/* Dropdown Cachorro */

.menu-nav li {
    position: relative;
}

.dropdown-menu-pet {
    color: #000000;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    width: 320px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,.15);
    border-radius: 5px;
    z-index: 1000;
}

.submenu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.submenu a:hover {
    background: #dbdbdb;
}

.submenu span {
    color: #020094da;
    font-size: 6px;
}

.dropdown-menu-pet:hover .submenu {
    display: block;
}
